<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gamer's World</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../css/styles.css"> 
    <link rel="stylesheet" th:href="@{/css/form.css}" href="../css/form.css">
    <script src="js/createprofile.js"></script>

</head>

<body>

    <a th:href="@{/index}"><div id="banner"></div></a>

    <!--Navigation Menu-->
    <div class="nav">
      <a th:href="@{/index}">Home</a>
      <a th:href="@{/messages}">Messages</a>
      <a th:href="@{/profile}">Profile</a>
    </div>

    <br>
    
<div class="container">
<h1>Edit Profile</h1>

<div class="inputform">
<form onsubmit="return checkSelectedGames();" action="#" th:action="@{/editprofile}" method="post">
  
      <label for="username"><b>Username</b></label>
      <input th:value="${profile.username}" type="text" placeholder="Enter Username" name="username" id="username" required>

      <label for="email"><b>Email</b></label>
      <input th:value="${profile.email}" type="text" placeholder="Enter Email" name="email" id="email" required>

      <label for="password"><b>Password</b></label>
      <input th:value="${profile.password}" type="password" placeholder="Enter Password" name="password" id="password" required>

      <label for="games"><b>Reselect up to 5 games:</b></label>
              <div style="height: 150px; overflow-y: auto;">
                <div th:each="game : ${T(com.project.gamersworld.models.Game).values()}">
                  <input type="checkbox" name="selectedGames" th:checked="${profile.games.contains(game)}" id="selectedGames" th:value="${game}">
                  <label for="${game}" th:text="${game}"></label>
                </div>
              </div>

      <label for="preferredTime"><b><br>Preferred Time</b></label>
      <input th:value="${profile.getTime()}" type="text" placeholder="Enter Time" name="preferredTime" id="preferredTime">

  
      <label for="description"><b>Bio Description</b></label>
      <input th:value="${profile.getDescription()}" type="text" placeholder="Enter Description" name="description" id="description">
              
      <div th:if="${errorMessage}" style="color:red">
        <p th:text="${errorMessage}"></p>
      </div>

      <button type="submit">Save</button>
  </form>
</div>
</div>

    <footer>
      <!--Copyright information-->
      <br>
      <p>&copy; 2023 All rights reserved</p>
    </footer>

</body>
</html>




