<!DOCTYPE html>
<!--Webpage made by Tabitha Ristoff, Justin Turziak, Joshua Lecik-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Gamer's World</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../css/styles.css"> 
    <link rel="stylesheet" th:href="@{/css/event.css}" href="../css/event.css"> 
    <meta name="description" content="Welcome to Gamer's World.">
  </head>

  <body>
    <a th:href="@{/index}"><div id="banner"></div></a>

    <!--Navigation Menu-->
    <div class="nav">
      <a th:href="@{/index}">Home</a>
      <a th:href="@{/search}">Search</a>
      <a th:href="@{/profile}">Profile</a>
    </div>

<br>
    <div class = "indexcontainer">

    <!--Event forum-->
    <div class="box-group">
      <div class = "trends">
        <h1>Trends</h1>
        <div class = "trends post">
          <h2>4/26/23 | 6pm</h2>
          <h2><a href="event.html">Meetup at the Esports center.</a></h2>
          <p class="tab">Let's meetup this Saturday to play Valorant!</p>
          <p>Post by <a href="profile.html"><b>Gamer</b></a> on 26 March 2023</p>
        </div>
    </div>
   
    <div class = "events">
      <h1>Events</h1>
      <tr th:each="event : ${events}">
      <div class = "events post">
        <h2><span th:text="${event.date}"></span> | <span th:text="${event.location}"></span></h2>
        <h2><a href="event.html"><span th:text="${event.eventName}"></span></a></h2>
        <p class="tab"><span th:text="${event.description}"></span></p>
        <p>Game: <span th:text="${event.game}"></span></p>
        <p>Play Level: <span th:text="${event.playLevel}"></span></p>
      </div>
  </div>
    </tr>
    </div>

    <div class = "groups">
      <h1>Groups</h1>
      <div class = "groups post">
        <h2>4/26/23 | 6pm</h2>
        <h2><a href="event.html">Meetup at the Esports center.</a></h2>
        <p class="tab">Let's meetup this Saturday to play Valorant!</p>
        <p>Post by <a href="profile.html"><b>Gamer</b></a> on 26 March 2023</p>
      </div>
  </div>

    <br>
  </div>

</div>

    <footer>
      <!--Copyright information-->
      <br>
      <p></p>&copy; 2023 All rights reserved</p>
    </footer>

  </body>
</html>