<!DOCTYPE html>
<!--Webpage made by Tabitha Ristoff, Justin Turziak, Joshua Lecik-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Gamer's World</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../css/styles.css"> 
    <link rel="stylesheet" th:href="@{/css/event.css}" href="../css/event.css"> 
    <meta name="description" content="Welcome to Gamer's World.">
  </head>

  <body>
    <a th:href="@{/index}"><div id="banner"></div></a>

    <!--Navigation Menu-->
    <div class="nav">
      <a th:href="@{/index}">Home</a>
      <a th:href="@{/search}">Search</a>
      <a th:href="@{/profile}">Profile</a>
    </div>

<!-- style this later using the commented out comment -->
  <table>
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Game</th>
            <th>PlayLevel</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
  <tr th:each="event : ${events}">
    <td th:text="${event.eventName}"></td>
    <td th:text="${event.date}"></td>
    <td th:text="${event.location}"></td>
    <td th:text="${event.game}"></td>
    <td th:text="${event.playLevel}"></td>
    <td th:text="${event.description}"></td>
  </tr>
  </tbody>
</table>

<br>
    <div class = "container">

    <!--Event forum-->
    <div class="box-group">
      <div class = "trends">
        <h1>Trends</h1>
        <div class = "trends post">
          <h2>4/26/23 | 6pm</h2>
          <h2><a href="event.html">Meetup at the Esports center.</a></h2>
          <p class="tab">Let's meetup this Saturday to play Valorant!</p>
          <p>Post by <a href="profile.html"><b>Gamer</b></a> on 26 March 2023</p>
        </div>
    </div>

    <div class = "events">
      <h1>Events</h1>
      <div class = "events post">
        <h2>4/26/23 | 6pm</h2>
        <h2><a href="event.html">Meetup at the Esports center.</a></h2>
        <p class="tab">Let's meetup this Saturday to play Valorant!</p>
        <p>Post by <a href="profile.html"><b>Gamer</b></a> on 26 March 2023</p>
      </div>
  </div>
    </div>

    <div class = "groups">
      <h1>Groups</h1>
      <div class = "groups post">
        <h2>4/26/23 | 6pm</h2>
        <h2><a href="event.html">Meetup at the Esports center.</a></h2>
        <p class="tab">Let's meetup this Saturday to play Valorant!</p>
        <p>Post by <a href="profile.html"><b>Gamer</b></a> on 26 March 2023</p>
      </div>
  </div>

    <br>
  </div>

</div>

    <footer>
      <!--Copyright information-->
      <br>
      <p></p>&copy; 2023 All rights reserved</p>
    </footer>

  </body>
</html>