<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Gamer's World</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../css/styles.css"> 
    <link rel="stylesheet" th:href="@{/css/form.css}" href="../css/form.css">
  </head>

  <style>
    .delete_button{
      position:absolute;
    			bottom:0;
    			right:0;
    }
  </style>

  <body>


    <a th:href="@{/login}"><div id="banner"></div></a>
    <br>
    
    <div class="container">
    <form action="#" th:action="@{/login}" method="post">
        <h1>Log in</h1>
      
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
      
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <div th:if="${errorMessage}" style="color:red">
          <p th:text="${errorMessage}"></p>
        </div>

        <button type="submit">Log in</button>

        <br>

        <div class="container sub">
        <h2>Don't have an account? <a th:href="@{/signup}">Sign up</a>.</h2>
        </div>
        
      </form>
    </div>

    <footer>
      <!--Copyright information-->
      <br>
      <p>&copy; 2023 All rights reserved</p>
    </footer>

  </body>
</html>