<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Gamer's World</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../css/styles.css"> 
		<link rel="stylesheet" th:href="@{/css/event.css}" href="../css/event.css"> 
    <link rel="stylesheet" th:href="@{/css/profile.css}" href="../css/profile.css">
    <script src="/js/event.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  </head>

  <style>
    button .delete_button{
      float: right;
      width: 150px;
    }

    .joingroup {
      padding: 10px 10px;
      width: 100px;
      height: 35px;
      text-align: center;
      float: right;
		}
  </style>
  
  <body>
    <a th:href="@{/index}"><div id="banner"></div></a>

    <!--Logout button-->
    <!--
    <form th:action="@{/logout}" method="post">
      <button type = "submit"> Logout</button>
    </form> -->

    <!--Navigation Menu-->
    <div class="nav">
      <a th:href="@{/index}">Home</a>
      <a th:href="@{/messages}">Messages</a>
      <a th:href="@{/profile}">Profile</a>
      <form th:action="@{/logout}" method="post">
        <button type = "submit"> Logout</button>
      </form>
    </div>
    
  

  <div class="container">

    <h1>Groups</h1>
    <div class="column">
      <div class = "groups">
        <h1><a th:href="@{/mygroups}">My Groups</a></h1>
        <tr th:each="group: ${mygroups}" >
        <div class = "groups post" style="padding: 5px;">
          
          <form th:action="@{/leavegroup/{id}(id = ${group.groupID})}" method="post">
            <button type="submit" style="width: 100px; "    class="joingroup">Leave</button>
          </form>
          <h3><span th:text="${group.name}"></span></h3>
        </div>
    </div>
    </div>

    <h1>Profile</h1>
    <div class="column">
      <div class="profile">
        <br>
        <img src="images/tabprofile.jpg" alt="ProfilePic" style="width: 90%">
        <h1><span th:text="${profile.username}"></span></h1>
        <p><span th:text="${profile.description}"></span></p>
        <p>Games: </p>
        <div th:each="game : ${profile.games}">
          <p th:text="${game}"></p>
        </div>
        <p><a th:href="@{/edit_profile}"><button>Edit profile</button></p></a>
      </div>
    </div>

    <h1>Events</h1>
    <div class="column">
      <div class="profile">
        <br>
        <h2><span th:text="${profile.username}"></span></h2>
        <p><span th:text="${profile.description}"></span></p>
        <p>Games: </p>
        <div th:each="game : ${profile.games}">
          <p th:text="${game}"></p>
        </div>
        <tr th:each="event : ${events}">
          <a th:href="@{event/deleteEvent/{eventId}(eventId=${event.eventId})}"><button class="btn">Delete</button></a>
          <form action="#" th:action="@{/event/editEvent}" method="post">
            <button class="btn" th:value="${event.eventId}" name="id" type="submit">Edit</button>
          </form>
        </tr>
      </div>
    </div>
    
  </div>

  </div>
    <!--Delete account button, probably just need it in login page-->
    <form th:action="@{/delete}" method="post">
      <button type = "submit" class="delete_button"> Delete Account</button>
      </form>
    <footer>
      <!--Copyright information-->
      <br>
      <p>&copy; 2023 All rights reserved</p>
    </footer>

  </body>
</html>