<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Gamer's World</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../css/styles.css"> 
    <link rel="stylesheet" th:href="@{/css/form.css}" href="../css/form.css">
    <script src="js/createprofile.js"></script>
  </head>

  <body>
    <a th:href="@{/login}"><div id="banner"></div></a>
    <br>

    <div class="container">
    <form onsubmit="return checkEmail() && checkPassword();" action="#" th:action="@{/signup}" method="post">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
      
        <div class ="input">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
      
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>
      
        <div th:if="${errorMessage}" style="color:red">
          <p th:text="${errorMessage}"></p>
        </div>
        <button type="submit">Sign Up</button>
        </div>

        <br>
        <div class="container sub">
        <h2>Already have an account? <a th:href="@{/login}">Log in</a>.</h2>
        </div>

      </form>
    </div>


    <footer>
      <!--Copyright information-->
      <br>
      <p>&copy; 2023 All rights reserved</p>
    </footer>

  </body>
</html>