/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px 0px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.inputform{
  background-color: #373737;
  padding: 30px 50px;
  border-radius: 8px;
}

/*
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 16px 20px;
  color: white;
  background-color: #b749be;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 12px;
  
  
}*/




