h1{
  text-align: left;
}

.profile {
    width: 300px;
    height: 525px;
    margin: auto;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .title {
    color: grey;
    font-size: 18px;
    text-align: center;
  }
  

  
