.profile {
    border: 5px solid #506e6b;
    width: 300px;
    height: 525px;
    margin: auto;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  

  
