body {
    background-color: black;
    font-size:14px;
    font-family: 'Titillium Web', sans-serif;
    color:rgb(255, 255, 255);
  }

  /* Style the header */
  #banner {
    background-color: #000000;
    background-image: url("../images/GWlogo.png");
    background-repeat: no-repeat;
    padding: 50px;
  }

  .nav {
    overflow: hidden;
    background-color: #6dcbc5;
  }
  
  .nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
  }
  
  .nav a:hover {
    background-color: #a4dfdb;
    color: rgb(255, 255, 255);
  }
  
  img {
    display: block;
    height: auto;
    width: 60%;
    margin: 10px;
  }
  
  img.wrap {
    float: left;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 16px 20px;
    color: white;
    background-color: #b749be;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 12px;
  }
  
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  h1{
    text-align:center;
  }

  .container {
    padding: 40px;
    background-color: #242424;
  }

  .sub{
    padding: 20px;
    text-align: center;
  }

  p.tab{
    display: inline-block;
    margin-left: 40px;
  }

  a{
    color:rgb(255, 255, 255);
    font-weight: bolder;
    text-decoration: none;
  }

  /** why is there 2 a's*/
  a{
    color: #b749be
    /**
    other colors: 
    #be4950
    #b749be
    #beb749
    #8abe49
    */
  }