body {
    background-color: black;
  }

  /* Style the header */
  .banner {
    background-color: #000000;
    background-image: url("../images/GWlogo.png");
    background-repeat: no-repeat;
    padding: 50px;
  }

  .nav {
    overflow: hidden;
    background-color: #23b8bf;
  }
  
  .nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
  }
  
  .nav a:hover {
    background-color: #747474;
    color: rgb(255, 255, 255);
  }

  .whitetext {
    color: rgb(255, 255, 255);
  }
  
  img {
    display: block;
    height: auto;
    width: 60%;
    margin: 10px;
  }
  
  img.wrap {
    float: left;
  }
  
  button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    display: block;
  }
  
  button:hover {
    background-color: #9c9c9c;
  }

  .active {
    background-color: #77968b;
  }

  h1{
    text-align:center;
  }

  form{
    color:white;
  }

  #eventborder{
    border: 5px solid #1c4f52;
    color: white;
    padding: 25px;
    background-color:black;
  }

  p.tab{
    display: inline-block;
    margin-left: 40px;
  }

